<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Delete User</title>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}">
</head>
<body>
<h1>Delete User</h1>
<p>Are you sure you want to delete user <span th:text="${user.lastName}"></span>?</p>
<form th:action="@{/users/DeleteUser}" th:object="${user}" method="post">
  <input type="hidden" th:field="*{id}" />
  <button type="submit" class="delete-btn">Confirm Delete</button>
</form>
<a href="/users">Cancel</a>
</body>
</html>