<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Edit user</title>
</head>
<body>

<h1 align="center">Edit User</h1>
<form align="center" action="/users/edit" th:object="${user}" method="POST">
    <input th:field="*{id}"  type="hidden"/>
    <br>
    <label for="firstName">firstName</label>
    <input type="text" id="firstName" th:field="*{firstName}" />
    <div style="color: #d42929" th:if="${#fields.hasErrors('name')}" th:errors="*{firstName}">Name error</div>
    <br>
    <label for="lastName">Lastname</label>
    <input type="text" id="lastName" th:field="*{lastName}"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</div>
    <br>
    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" th:value="*{age}" required>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br>
    <input type="submit" value="Update User"/>
</form>
<a href="/users">Back to User List</a>
</body>
</html>